// Imports model into razor template
@model ComicBooks.Models.ComicBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
    ViewBag.ShowBackBar = true;


}

<h2>@Model.DisplayText </h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
            <h5><label>Issue #:</label> @Model.issueNumber</h5>
            <h5><label>Favorite:</label> @(Model.Favorite?"Yes": "No")</h5>
            @if (Model.artists.Length > 0)
            {
                <h5>Artist:</h5>
                <div>
                    <ul>
                        @foreach (var artist in Model.artists)
                        {
                            //Name:*@artist.Name Role:*@artist.Role
                            <li>@artist.Name : @artist.Role</li>
                        }
                    </ul>
                </div>

            }
            else
            {
                <text>No artist to display</text>
            }
        </div>
    <h5>Description</h5>
    <p>@Html.Raw(Model.DescriptionHTML)</p>
    
    </div>

    <div class="col-md-6">
        <img src="@Model.ImageLink" 
             alt="@Model.SeriesTitle @Model.issueNumber" class="img-responsive" />
    </div>
</div>




