
// Imports model into razor template 
@model ComicBooks.Models.ComicBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
   

}


        <h1>@Model.SerisTitle</h1>
        <h2>Issue: @Model.issueNumber</h2>
        <h5>Descrption:</h5>
        <div>@Html.Raw(Model.DescriptionHTML)</div>

        @if (Model.artists.Length > 0)
        {
            <h5>Artist:</h5>
            <div>
                <ul>
                    @foreach (var artist in Model.artists)
                    {
                        //Name:*@artist.Name Role:*@artist.Role
                        <li>@artist.Name : @artist.Role</li>
                    }
                </ul>
            </div>

        }
        else
        {
            <text>No artist to display</text>
        }


