
@model ComicBooks.Models.ComicBook[]
@{
    ViewBag.Title = "Superhero Comic Search";
    

}

<div class="row px-4 py-4">
    <div class="col">
        <h2 class="text-secondary font-weight-bold mt-1 ">@ViewBag.Title</h2>
        <form action=@Url.Action("Search") method="GET">
            <div class="SearchBar">
                <input name="Search" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                <button type="submit" class="btn btn-outline-secondary">Search</button>
            </div>
        </form>
    </div>
</div>


{
<h2 class="titleLink mb-1">Latest Editions: @ViewBag.Search</h2>
}

@if (Model != null)
{
    if (Model.Length == 0)
    {
        <div class="row well">
            <div class="col">
                <h4 class="display-4 text-light">
                    Sorry,No results Found.
                </h4>
            </div>
        </div>
    }
    else
    {
        <div class="row align-items-start">
            @foreach (var comic in Model)
            {
                <div class="  col-md-6 col-lg-3 bg-transparent ">
                    <h3>@Html.ActionLink(comic.SeriesTitle, "Detail", new { id = comic.Id }, new { @class = "titleLink" }) </h3>
                    <a href="@Url.Action("Detail", new { id = comic.Id })">
                        <img src="@comic.ImageLink"
                             class=" img-fluid rounded" alt="Responsive image Card image" />
                    </a>

                </div>
            }
        </div>
    }
}
else if (Model == null)
{
    <div class="row well">
        <div class="col">
            <h4 class="display-4 text-light">
                Search Bar,empty Try Again.
            </h4>
        </div>
    </div>
}

